# Ignore .env file
.env

# Ignore other system files and folders
**/AppData/
**/Documents/
**/Cookies/
**/Desktop/
**/Downloads/
**/Favorites/
**/Links/
**/Music/
**/Pictures/
**/Saved Games/
**/Searches/
**/Videos/
**/OneDrive/
**/Contacts/
**/ntuser.dat*

# Ignore cache and temp files
.cache/
.fly/

# Ignore files that are already tracked but should not be
.bash_history
.node_repl_history
